# Firebase
FIREBASE_CREDENTIALS_PATH=./firebase_credentials.json

# Stockage local
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=50

# Google Gemini
GEMINI_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXX

# Serveur
HOST=0.0.0.0
PORT=8000
DEBUG=True
